<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLYQUANAO.Properties.Settings.QuanLyCuaHangQuanAoConnectionString"
            connectionString="Data Source=LAPTOP-LCSO2FRU;Initial Catalog=QuanLyCuaHangQuanAo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>